{% extends "AppCoder/padre.html" %}

{% load static %}

    {% block contenidoHead %}

        <h1 class="mb-1">Formulario de Estadio</h1>

    {% endblock %}

    {% block contenidoDinamico %}

        <form action="/AppCoder/estadioFormulario/" method="POST"> {% csrf_token %}

            <p>Nombre: <input type="text" name="nombre"></p>

            <p>Capacidad: <input type="number" name="capacidad"></p>

            <p>Direccion: <input type="text" name="direccion"></p>

            <p>Año de fundación: <input type="number" name="anioFundacion"></p>

            <input type="submit" value="Envio">

        </form>

    {% endblock %}